@mixin input-placeholder {
  input::-webkit-input-placeholder {
    color: #8a8a8a;
  }
  input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #8a8a8a;
  }
  input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #8a8a8a;
  }
  input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #8a8a8a;
  }
}

// 禁用 灰色
$disabled-color: #919191;

// 灰白色
$white-color: #dad8d8;

// 灰白色透明
$white-color-opacity: rgba(218, 216, 216, 0.6);

// 边 灰白
$border-grey-white: #d3d4db;

// 边 红色
$border-red: #a40011;

// 黑色背景色
$background-black: #242424;

// 红色背景色
$background-red: #c20c0c;

// 灰白色背景色
$background-grey-white: #f5f5f5;

// 成功 绿色
$success-green: #42b983;

// 失败 红色
$failed-red: #d63200;
